# ========================
# Node.js
# ========================
node_modules/
npm-debug.log

# ========================
# Environment variables
# ========================
.env

# ========================
# ML Models (large files)
# ========================
ml_api/models/
*.h5
*.keras
*.pkl

# ========================
# Uploads
# ========================
uploads/

# ========================
# OS / System files
# ========================
.DS_Store
Thumbs.db

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Python cache (if used)
# ========================
__pycache__/
*.pyc